In [ ]:
# Download and Install Missing Packages
#!pip install numpy
#!pip install pandas
#!pip install geopandas

**You must run this notebook in your local machine to print your credentials**

In [2]:
import datetime # Date time 
import socket # Low Level Networking

# Get local time
local_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Get computer ID or hostname
computer_id = socket.gethostname()

# Print output with local time and computer ID
print('Assignment 1: Solutions by Imran Afsar') # Please change your name here
print('Local Time:', local_time)
print('Computer ID:', computer_id)

Assignment 1: Solutions by Imran Afsar
Local Time: 2024-05-13 23:35:32
Computer ID: DESKTOP-NRI4M0G

In [4]:
# importing required libraries
import pandas as pd # Pandas
import numpy as np  # NumPy
import geopandas as gpd # GIS of Pandas
import seaborn as sb # Parof of matplotlib for Data Viz
import matplotlib.pyplot as plt # data viz
import datetime # Date time 
import socket # Low Level Networking

In [3]:
# Import Libraries Pandas, NumPy, Geopandas, Matplotlib, Seaborn

## Your code down ##

## Your code write up##

In [5]:
# Set url path to data files located in GitHub
url_df_1 = 'https://github.com/imranafsar/Palette_Cohort_6/blob/Afsar-Cohort6/Afsar-Assignments-Cohort6/df_1.csv?raw=true'
url_df_2 = 'https://github.com/imranafsar/Palette_Cohort_6/blob/Afsar-Cohort6/Afsar-Assignments-Cohort6/df_2.csv?raw=true'
url_shp  = '/vsicurl/https://github.com/imranafsar/Palette_Cohort_6/Data/SK_RM_Shapefiles/RuralMunicipality.zip'

url_df_merge = 'C:\\PythonProjects\\PSStream3\\url_df_merge.csv'

In [15]:
# Defining Directories

directory_main = 'C:/PythonProjects/PSStream3'

#GIS
directory_gis= directory_main + '/RuralMunicipality.shp'

## Question 1

**Follow the instructions in slack**

In [6]:
# Read CSV files
df_1 = pd.read_csv(url_df_1)
df_2 = pd.read_csv(url_df_2)


#Total count of RM's in each csv file
print('Total RMs in df_1.csv: ',df_1.count())
print('Total RMs in df_2.csv: ',df_2.count())

Total RMs in df_1.csv:  RM    477
dtype: int64
Total RMs in df_2.csv:  RM    464
dtype: int64

In [8]:
#Strip the white spaces and Caitalize the RM names for case sensitive comparison
df_1_CS = df_1['RM'].str.capitalize().str.strip()
df_2_CS = df_2['RM'].str.capitalize().str.strip()

In [9]:
# Concatenate the first column in both CSV data files
df_12_merge = pd.concat( [df_1_CS,df_2_CS],axis=0)

print('Total RMs after merging both CSV files: ',df_12_merge.count())

Total RMs after merging both CSV files:  941

In [10]:
# Drop the duplicate values in the merge list of RMs
df_12_merge_rd = df_12_merge.drop_duplicates().reset_index(drop=True)
print('Total Unique RMs after merging both CSV files: ',df_12_merge_rd.count())

Total Unique RMs after merging both CSV files:  502

In [12]:
print(df_12_merge_rd.to_string())

0                                              Winnipeg
1                                      Bifrost-riverton
2                                      Emerson-franklin
3                                              Rockwood
4                                             Armstrong
5                                                 Gimli
6                                         West st. paul
7                                           Springfield
8                                           St clements
9                                            St andrews
10                                              Ritchot
11                                              Hanover
12                                                Tache
13                                          Desalaberry
14                                             Reynolds
15                                        Lac du bonnet
16                                         La broquerie
17                                             Ste anne
18                                           Brokenhead
19                                           Stuartburn
20                                            Alexander
21                                             Montcalm
22                                            Macdonald
23                                               Morris
24                                            Rhineland
25                                           Headingley
26                                               Rosser
27                                      Dallas/red rose
28                                                Piney
29                                           Whitemouth
30                                               Pinawa
31                                               Fisher
32                                          Two borders
33                                        North norfolk
34                                                Lorne
35                                     Norfolk-treherne
36                                       West interlake
37                                           Grahamdale
38                                              Pembina
39                                   Westlake-gladstone
40                                              Cartier
41                                     Swan valley west
42                                        Ellice-archie
43                                               Roblin
44                                    Wallace-woodworth
45                                            Pipestone
46                                 Deloraine-winchester
47                                    Russell-binscarth
48                                            Grassland
49                                 Riding mountain west
50                                             Rossburn
51                                            Grandview
52                                              Hamiota
53                                           Yellowhead
54                                    Minitonas-bowsman
55                                             Mountain
56                                       Brenda-waskada
57                                         Prairie view
58                                               Sifton
59                                               Virden
60                                             Mccreary
61                                            Lakeshore
62                                        Prairie lakes
63                               Glenboro-south cypress
64                                 Killarney-turtle mtn
65                                             Waterhen
66                                               Kelsey
67                                       Meadow portage
68                                         Minto-odanah
69                                           Cornwallis
70                                                Elton
71                                         Mossey river
72                                 Clanwilliam-erickson
73                                              Brandon
74                                     Oakland-wawanesa
75                                           Salt point
76                                              Dauphin
77                                        Harrison park
78                                    Boissevain-morton
79                                              Oakview
80                                            Woodlands
81                                               Alonsa
82                                               Louise
83                                    Cartwright-roblin
84                               North cypress-langford
85                                             Victoria
86                                   Glenella-lansdowne
87                                               Argyle
88                                   Portage la prairie
89                                             Dufferin
90                                                 Grey
91                                             Thompson
92                                       Gilbert plains
93                                            Whitehead
94                                            Riverdale
95                                              Harwill
96                                            Ethelbert
97                                               Roland
98                                             Coldwell
99                                           St laurent
100                                             Stanley
101                                  St. francis xavier
102                                     Souris-glenwood
103                                            Rosedale
104                                           Ste. rose
105                              Homebrook-peonan point
106                                                   1
107                                                  31
108                                                  61
109                                                  91
110                                                 121
111                                                 151
112                                                 152
113                                                 181
114                                                 211
115                                                 241
116                                                 271
117                                                 301
118                                                 331
119                                                 394
120                                                   2
121                                                  32
122                                                  92
123                                                 122
124                                                   3
125                                                  33
126                                                  63
127                                                  93
128                                                 123
129                                                 153
130                                                 183
131                                                 213
132                                                 243
133                                                 273
134                                                 303
135                                                 333
136                                                   4
137                                                  34
138                                                  64
139                                                  94
140                                                 124
141                                                 154
142                                                 184
143                                                 214
144                                                 244
145                                                 274
146                                                 304
147                                                 334
148                                                 395
149                                                   5
150                                                  35
151                                                  65
152                                                  95
153                                                 125
154                                                 185
155                                                 215
156                                                 245
157                                                 275
158                                                 305
159                                                 335
160                                                 486
161                                                 155
162                                                 456
163                                                 426
164                                                   6
165                                                  36
166                                                  66
167                                                  96
168                                                 126
169                                                 186
170                                                 216
171                                                 246
172                                                 276
173                                                 336
174                                                 366
175                                                 156
176                                                 488
177                                                   7
178                                                  37
179                                                  67
180                                                  97
181                                                 127
182                                                 187
183                                                 217
184                                                 247
185                                                 277
186                                                 307
187                                                 337
188                                                 367
189                                                 397
190                                                 427
191                                                 457
192                                                 487
193                                                 157
194                                                   8
195                                                  38
196                                                  68
197                                                  98
198                                                 128
199                                                 218
200                                                 248
201                                                 279
202                                                 308
203                                                 338
204                                                 368
205                                                 398
206                                                 428
207                                                 458
208                                                 158
209                                                   9
210                                                  39
211                                                  69
212                                                  99
213                                                 129
214                                                 159
215                                                 189
216                                                 219
217                                                 309
218                                                 339
219                                                 369
220                                                 399
221                                                 429
222                                                 459
223                                                 220
224                                                 250
225                                                  10
226                                                  40
227                                                  70
228                                                 100
229                                                 130
230                                                 160
231                                                 280
232                                                 310
233                                                 340
234                                                 370
235                                                 400
236                                                 430
237                                                 461
238                                                 490
239                                                 520
240                                                 190
241                                                 221
242                                                 460
243                                                 251
244                                                  11
245                                                  71
246                                                 101
247                                                 131
248                                                 161
249                                                 281
250                                                 312
251                                                 341
252                                                 371
253                                                 401
254                                                 431
255                                                 491
256                                                  42
257                                                 191
258                                                 521
259                                                 222
260                                                 252
261                                                 342
262                                                 402
263                                                  12
264                                                  72
265                                                 102
266                                                 132
267                                                 162
268                                                 282
269                                                 372
270                                                  43
271                                                  73
272                                                 103
273                                                 133
274                                                 163
275                                                 193
276                                                 223
277                                                 253
278                                                 313
279                                                 343
280                                                 463
281                                                 493
282                                                 373
283                                                 403
284                                                 283
285                                                 314
286                                                 464
287                                                  44
288                                                  74
289                                                 104
290                                                 134
291                                                 164
292                                                 194
293                                                 224
294                                                 254
295                                                 344
296                                                 434
297                                                 494
298                                                 404
299                                                 284
300                                                 315
301                                                 345
302                                                 555
303                                                  45
304                                                  75
305                                                 105
306                                                 135
307                                                 165
308                                                 255
309                                                 405
310                                                 225
311                                                 285
312                                                 435
313                                                 496
314                                                 466
315                                                  17
316                                                  46
317                                                  76
318                                                 106
319                                                 136
320                                                 166
321                                                 226
322                                                 256
323                                                 316
324                                                 346
325                                                 376
326                                                 286
327                                                 406
328                                                 436
329                                                  77
330                                                 107
331                                                 137
332                                                 167
333                                                 257
334                                                 287
335                                                 317
336                                                 347
337                                                 377
338                                                 467
339                                                 497
340                                                 588
341                                                 228
342                                                 437
343                                                 438
344                                                  18
345                                                  78
346                                                 108
347                                                 138
348                                                 168
349                                                 288
350                                                 318
351                                                 378
352                                                 409
353                                                 468
354                                                 498
355                                                 259
356                                                 349

In [ ]:
# Save the merged results on disk in a csv file
#df_12_merge_rd.to_csv(url_df_merge, sep='\t', encoding='utf-8')

## Question 2

**Merge Shapefile(provided in Cohort 6 Repo) and create a map by using DataFrame.plot() with cleaned and maximized number of RMs in df_1**

# GIS Data Preparation

In [17]:
directory_gis

'C:/PythonProjects/PSStream3/RuralMunicipality.shp'

In [18]:
# Reading GIS Data
gdf_rm=gpd.read_file(directory_gis)

In [19]:
#Print Shape file Attribite data
gdf_rm

,PPID,EFFDT,EXPDT,FEATURECD,RMNO,RMNM,SHAPE_AREA,SHAPE_LEN,geometry
0,0101000095,2019-01-21,None,RMPPID,095,GOLDEN WEST,8.101431e+08,2.658514e+05,"POLYGON ((654081.000 5546088.320, 654885.320 5..."
1,0101000378,2019-07-29,None,RMPPID,378,ROSEMOUNT,5.844701e+08,1.612719e+05,"POLYGON ((265258.740 5810148.180, 266062.740 5..."
2,0101000288,2015-01-27,None,RMPPID,288,PLEASANT VALLEY,8.532007e+08,1.168951e+05,"POLYGON ((254141.490 5701256.420, 254179.510 5..."
3,0101000106,2019-04-24,None,RMPPID,106,WHISKA CREEK,8.526283e+08,1.292883e+05,"POLYGON ((339874.810 5539057.770, 339849.430 5..."
4,0101000132,2019-07-16,None,RMPPID,132,HILLSBOROUGH,6.343913e+08,1.030527e+05,"POLYGON ((445175.620 5573313.600, 445572.880 5..."
...,...,...,...,...,...,...,...,...,...
293,0101000588,2022-12-19,None,RMPPID,588,MEADOW LAKE,5.922870e+09,1.011120e+06,"MULTIPOLYGON (((307104.520 6003527.820, 307139..."
294,0101000352,2022-12-21,None,RMPPID,352,HEART'S HILL,8.812504e+08,1.210734e+05,"POLYGON ((187054.680 5758478.840, 187005.860 5..."
295,0101000351,2022-12-21,None,RMPPID,351,PROGRESS,8.441731e+08,1.419927e+05,"POLYGON ((209380.850 5785495.100, 209851.950 5..."
296,0101000520,2022-12-21,None,RMPPID,520,PADDOCKWOOD,2.408683e+09,6.212794e+05,"MULTIPOLYGON (((451283.150 5981138.420, 451285..."
297,0101000491,2022-12-21,None,RMPPID,491,BUCKLAND,8.095962e+08,2.260746e+05,"POLYGON ((439451.190 5922989.290, 439441.900 5..."

In [20]:
# Select approriate fields for further analysis
gdf_rm_clean=gdf_rm[['RMNO', 'RMNM', 'geometry']]

# Changin CRS system to regular lon and lat
gdf_rm_clean=gdf_rm_clean.to_crs(4326)

In [21]:
gdf_rm_clean

    RMNO             RMNM                                           geometry
0    095      GOLDEN WEST  POLYGON ((-102.84786 50.04713, -102.83663 50.0...
1    378        ROSEMOUNT  POLYGON ((-108.45006 52.39118, -108.43824 52.3...
2    288  PLEASANT VALLEY  POLYGON ((-108.53546 51.40915, -108.53547 51.4...
3    106     WHISKA CREEK  POLYGON ((-107.23358 49.98235, -107.23360 49.9...
4    132     HILLSBOROUGH  POLYGON ((-105.76996 50.30939, -105.76438 50.3...
..   ...              ...                                                ...
293  588      MEADOW LAKE  MULTIPOLYGON (((-107.95334 54.14359, -107.9533...
294  352     HEART'S HILL  POLYGON ((-109.54844 51.88904, -109.54843 51.8...
295  351         PROGRESS  POLYGON ((-109.24786 52.14336, -109.24097 52.1...
296  520      PADDOCKWOOD  MULTIPOLYGON (((-105.74280 53.97629, -105.7427...
297  491         BUCKLAND  POLYGON ((-105.91181 53.45244, -105.91180 53.4...

[298 rows x 3 columns]

In [23]:
# Changing the RM names to upper case for comparison with GIS Data column RMNM
#df_12_merge_rd_upper = df_12_merge_rd.str.upper()

In [24]:
# Merging final RM data with GIS data based on RM Number & RM Name columns in both data sets
# Also rename the column name in GIS Data to RM for merge function

gdf_rm_final=pd.merge(gdf_rm_clean.rename(columns={'RMNO':'RM'}).astype('str', errors='ignore'), df_12_merge_rd, on='RM', how='inner')

# Merging final RM data with GIS data based on RM Number columns in both data sets
# Also rename the column name in GIS Data to RM for merge function

gdf_rm_final_RMNM=pd.merge(gdf_rm_clean.rename(columns={'RMNM':'RM'}).astype('str', errors='ignore'), df_12_merge_rd, on='RM', how='inner')

#gdf_rm_final_RM=pd.merge(gdf_rm_clean.rename(columns={'RMNO':'RM'}).astype('int', errors='ignore'), df_12_merge_rd.astype('int', errors='ignore'), on='RM', how='inner')
#df_12_merge_rd_upper = df_12_merge_rd.str.upper()
#gdf_rm_final_RMNM=pd.merge(gdf_rm_clean.rename(columns={'RMNM':'RM'}), df_12_merge_rd, on='RM', how='inner')

In [25]:
gdf_rm_final

      RM             RMNM                                           geometry
0    378        ROSEMOUNT  POLYGON ((-108.450057 52.391175, -108.438237 5...
1    288  PLEASANT VALLEY  POLYGON ((-108.535465 51.409145, -108.535475 5...
2    106     WHISKA CREEK  POLYGON ((-107.233584 49.982345, -107.233603 4...
3    132     HILLSBOROUGH  POLYGON ((-105.769955 50.30939, -105.764376 50...
4    335       HAZEL DELL  POLYGON ((-102.863069 52.070902, -102.863065 5...
..   ...              ...                                                ...
232  588      MEADOW LAKE  MULTIPOLYGON (((-107.953338 54.143591, -107.95...
233  352     HEART'S HILL  POLYGON ((-109.548443 51.88904, -109.54843 51....
234  351         PROGRESS  POLYGON ((-109.247864 52.143359, -109.240975 5...
235  520      PADDOCKWOOD  MULTIPOLYGON (((-105.742804 53.976292, -105.74...
236  491         BUCKLAND  POLYGON ((-105.911811 53.452444, -105.911796 5...

[237 rows x 3 columns]

In [27]:
gdf_rm_final['RM'].count()
print(gdf_rm_final['RM'].min())
gdf_rm_final['RM'].max()
print(gdf_rm_final['RM'].max())

100
622

In [26]:
gdf_rm_final_RMNM

Empty DataFrame
Columns: [RMNO, RM, geometry]
Index: []